<%- include('parts/header') %>
<% var error %>
<section class="bdate vh-100 d-flex flex-column justify-content-center align-items-center">
	<div class="container">
       <div class="row justify-content-center">
      	<div class="cardBox col-12 col-md-6 col-lg-4">
      	 <div class="card d-flex  align-items-center flex-column w-100">
                  <img src="../public/img/bdate.png" alt="bdate img" class="bdate-img w-50 img-fluid">
                  <h2 class="h2 mt-4">Add your birthday</h2>
                  <p class="mt-2">This won't a part of public profile</p>
                  <% if(error){%>
                   <div class="alert alert-danger w-100 text-center"><%= error%></div>
                  <%}%>
      		<form method="POST" class="w-100 ">
                  <div class="d-flex">
                   <select name="bmonth" id="" class="m-2 form-select" style="font-size: 14px;">
                         <option value="january">January</option>
                         <option value="february">February</option>
                         <option value="march">March</option>
                         <option value="april">April</option>
                         <option value="may">May</option>
                         <option value="june">June</option>
                         <option value="jule">Jule</option>
                         <option value="august">August</option>
                         <option value="september">September</option>
                         <option value="october">October</option>
                         <option value="november">November</option>
                         <option value="december">December</option>
                   </select>          
                   <select name="bday" id="" class="m-2 form-select" style="font-size: 14px;">
                        <% for(let i =1 ; i < 32; i++){%>
                         <option value="<%= i%>"><%= i%></option>
                         <%}%>
                   </select>          
                   <select name="byear" id="" class="m-2 form-select" style="font-size: 14px;">
                         <% for(let i = 2010 ; i < 2022; i++){%>
                         <option value="<%= i%>"><%= i%></option>
                         <%}%></select> 
                  </div>
                         <p class="text-muted text-center">You need to enter the dete you were born</p>         
                         <p class="text-muted text-center">Use your own birthday, even if this accaount is for you a business, a pet , or something else </p>         
                  <button class="btn btn-primary my-2 w-100">Next</button>
                  </form>
      	 </div>
             <div class="card d-flex  align-items-center flex-column w-100 mt-3">
                  <p class="m-0 p-0">Have an accaunt? <a href="/login">Log in</a></p>
             </div>
            </div>  
       </div>
	</div>
</section>

<%- include('parts/footer') %>