<%- include('parts/header') %>
<%- include('parts/navbar') %>
<% var srcImg = photo ? `/avatar/${user._id}.jpg` : `/avatar/notFound.jpg`%>
<section class="indexSect  py-4">
	<div class="container">
     <div class="row mx-auto d-flex align-items-center" style="width: 1056px;">
     	<div class="col-3" style="margin-right: 88px;">
     		<label class="profile-label">
     		<input id="profilePhoto" type="file" class="visually-hidden" accept="image/*">
     		<img src="../public/<%=srcImg%>" class="img-fluid rounded-circle" alt="">
     		</label>
     	</div>
      <% //var thisUser %>
     	<div class="col-8 p-lg-4 pl-0">
     		<header class="d-flex align-items-center">
     			<p class="fs-2 m-0 fs-3"><%= user.username%></p>
          <% if(thisUser.username == user.username){%>
     			<button class="btn ms-4 border mr-3" href="/edit">Edit profile</button>
     			<button class="btn ml-2"><img src="../public/img/settings.png"  style="width: 30px;" class="img-fluid" alt="SETTING"></button>
          <% } else{ %>
          <% var oldFollow %>
          <button id="followBtn" class="btn ms-5 <%= oldFollow ? 'btn-secondary' : 'btn-primary'%> w-25" href="/edit" data-username="<%= user.username%>" ><%= oldFollow ? 'Unfollow' : 'Follow'%></button>
          <%}%>		
     		</header>
     		<div class="d-flex my-3 flex-row align-items-center">
     			<button class="btn" data-bs-toggle="modal" data-bs-target="#posts"><strong><%= user.username.length %></strong> public</button>
     			<button id="followersBtn" class="mx-5 btn" data-bs-toggle="modal" data-bs-target="#followers" data-username="<%= user.username%>"><strong>10</strong> follower</button>
     			<button class="btn" data-bs-toggle="modal" data-bs-target="#followings"><strong><%= String(user.phone).length%></strong> following</button>
     		</div>
     		<h4 class="user-title text-left"><%= user.name%></h4>
     		<p class="user-job text-muted">programmer</p>
     		<p class="status">19 y.o dev</p>
     	</div>
     </div>
   
     <nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <button class="nav-link mx-2 active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-th"></i> Posts</button>
    <button class="nav-link mx-2"  id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-bookmark"></i> Saved</button>
    <button class="nav-link mx-2"  id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-id-card"></i> Togged</button>
    <button class="nav-link mx-2"  id="nav-upload-tab" data-bs-toggle="tab" data-bs-target="#nav-upload" type="button" role="tab" aria-controls="nav-upload" aria-selected="false"><i class="fas fa-cloud-upload-alt"></i> Post Upload</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  	<div class="row mt-4 pt-4">
  		<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
  			<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
  			<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
  	</div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<div class="row mt-4 pt-4">
  			<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
  			<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
  			<div class="col-lg-4 col-md-6 col-12 mb-4">
  		<div class="card">
        <a href="/posts/id" class="d-block">
  			<img src="https://picsum.photos/400" class="card-img-top img-fluid" alt="">
        </a>
  		</div>
  		</div>
    </div>
</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-contact-tab">
   <div class="row justify-content-center">
    <div class="col-lg-6 col-12" >
    <form action="/upload" method="POST" class="mt-4">
      <div class="form-floating">
      <textarea class="form-control" name="postBody" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Post Body</label>
      </div>
    <div class="my-3">
  <input class="form-control" type="file" id="formFile">
  </div>
  <button class="btn btn-primary w-100">Upload Post</button>
    </form>
      </div>
    </div>
  </div>
</div>

	</div>
</section>



<!-- Modal -->
<div class="modal fade" id="followers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">My Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <ul>
             <li>
               <div class="card">
                 <div class="row">
                   .col
                 </div>
               </div>
             </li>
           </ul>         
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="posts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="followings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<script src="../public/js/profile.js"></script>
<%- include('parts/footer') %>